@import "tailwindcss";

@theme {
  --color-surface-container-lowest: #ffffff;
  --color-surface: #f9f9f9;
  --color-on-primary-fixed: #3e3f42;
  --color-surface-container-highest: #dde4e5;
  --color-tertiary-fixed-dim: #3292e9;
  --color-on-surface-variant: #5a6061;
  --color-on-surface: #2d3435;
  --color-error-container: #fe8983;
  --color-primary-fixed-dim: #d4d4d7;
  --color-on-primary: #f7f7fa;
  --color-secondary-fixed-dim: #ffcaa2;
  --color-primary-dim: #515255;
  --color-on-tertiary-fixed: #000000;
  --color-secondary-fixed: #ffdcc3;
  --color-on-background: #2d3435;
  --color-surface-container-high: #e4e9ea;
  --color-on-primary-container: #505254;
  --color-surface-container: #ebeeef;
  --color-outline: #757c7d;
  --color-on-tertiary-fixed-variant: #00284a;
  --color-on-error: #fff7f6;
  --color-primary: #5d5e61;
  --color-error-dim: #4e0309;
  --color-secondary: #805633;
  --color-tertiary: #0062a7;
  --color-surface-container-low: #f2f4f4;
  --color-secondary-container: #ffdcc3;
  --color-primary-fixed: #e2e2e5;
  --color-surface-tint: #5d5e61;
  --color-on-tertiary-container: #001e3a;
  --color-on-tertiary: #f7f9ff;
  --color-tertiary-container: #449ff8;
  --color-on-secondary: #fff7f4;
  --color-tertiary-fixed: #449ff8;
  --color-on-secondary-fixed-variant: #7c5230;
  --color-tertiary-dim: #005593;
  --color-on-secondary-container: #714927;
  --color-on-error-container: #752121;
  --color-error: #9f403d;
  --color-on-primary-fixed-variant: #5a5c5e;
  --color-inverse-primary: #f9f9fc;
  --color-on-secondary-fixed: #5b3717;
  --color-surface-bright: #f9f9f9;
  --color-background: #f9f9f9;
  --color-primary-container: #e2e2e5;
  --color-secondary-dim: #724a28;
  --color-surface-dim: #d4dbdd;
  --color-inverse-on-surface: #9c9d9d;
  --color-inverse-surface: #0c0f0f;
  --color-outline-variant: #adb3b4;
  --color-surface-variant: #dde4e5;
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}
